---
import { markdownify } from '@/lib/utils/textConverter';
import { Image } from 'astro:assets';
const { banner } = Astro.props;
const { title, button, image, content } = banner;
---

<section
  class="section banner relative overflow-hidden max-w-[95%] md:max-w-[90%] lg:max-w-[85%] mx-auto"
>
  <div class="container">
    <div class="row items-center">
      <div class="lg:col-12 text-center">
        <h1
          class="banner-title flex flex-col sm:flex-row sm:justify-center sm:items-center"
        >
          <span>让情绪自由流动<span class="hidden sm:inline">，</span></span>
          <span>
            <span
              style="background: linear-gradient(95deg, #65BCF9 1.15%, #51BC56 98.85%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;"
              >书写疗愈</span
            >力量
          </span>
        </h1>

        <p
          class="mt-6 text-gray-500 max-w-[800px] mx-auto"
          set:html={markdownify(content)}
        />

        {
          button.enable && (
            <a
              class="btn btn-blue mt-8"
              href={button.link}
              onclick="gtag('event', 'click_btn_join', { 'event_name': 'click_btn_join', 'event_category': 'banner', 'event_label': 'button' });"
            >
              {button.label}
            </a>
          )
        }
      </div>
      <div class="relative">
        <Image
          class="w-full object-contain mt-12 hidden sm:block"
          alt="banner"
          src="/images/banner-img.png"
          width={1247}
          height={525}
        />
        <Image
          class="w-full object-contain mt-12 block sm:hidden"
          alt="banner"
          src="/images/banner-img-sm.png"
          width={360}
          height={360}
        />
      </div>
    </div>
  </div>
  <Image
    class="banner-shape absolute -top-10 -right-0 -z-[1] w-full max-w-[50%]"
    alt="banner"
    src="/images/banner-shape-1.png"
    width={512}
    height={512}
  />

  <Image
    class="banner-shape absolute top-0 left-0 -z-[1] w-full max-w-[50%]"
    alt="banner"
    src="/images/banner-shape-2.png"
    width={512}
    height={512}
  />
</section>

<!-- <Image
  class="banner-shape absolute -top-10 -right-0 -z-[1] w-full max-w-[100%]"
  alt="banner"
  src="/images/bg-banner.png"
  width={1447}
  height={1206}
/> -->
