---
import FeatureItem from '@/layouts/components/features/FeatureItem.astro';
import { markdownify } from '@/lib/utils/textConverter';
import { Image } from 'astro:assets';
---

<section
  class="section banner relative max-w-[95%] md:max-w-[90%] lg:max-w-[85%] mx-auto"
>
  <div class="container">
    <div class="lg:col-12 text-center">
      <h2
        class="banner-title flex flex-col sm:flex-row sm:justify-center sm:items-center"
      >
        <span>我理解 <span class="hidden sm:inline">，</span></span>
        <span>你一直以来的困扰</span>
      </h2>
      <div class="relative">
        <Image
          class="w-full object-contain mt-12 hidden sm:block"
          alt="banner"
          src="/images/feature-0.png"
          width={1247}
          height={642}
        />
        <Image
          class="w-full object-contain mt-12 block sm:hidden"
          alt="banner"
          src="/images/feature-0-sm.png"
          width={360}
          height={360}
        />
      </div>
    </div>
  </div>
</section>

<section
  class="section banner relative max-w-[95%] md:max-w-[90%] lg:max-w-[85%] mx-auto"
>
  <div class="container">
    <div class="lg:col-12 text-center">
      <h2>MoFlow 能给你什么？</h2>
      <FeatureItem
        title="情绪的绝佳栖息地<br/>被接纳，被允许"
        description="在这一片宁静中，用文字和自己对话，与过去和解，你一定会成功更好的自己。"
        image="/images/feature-1.png"
      />
      <FeatureItem
        title="循循诱导<br/>千人千面的灵魂引导"
        description="亲爱的，我知道你困在某个问题上，迷茫已久。何不听听我们给你的新视角呢？也许，转个弯，就是一天开阔的天地。"
        image="/images/feature-2.png"
        reverse={true}
      />
      <FeatureItem
        title="王炸级的深度分析<br/>让你直呼“太准了”"
        description="基于认知行为疗法的深度分析，提炼出你对事情的深层看法，帮助你洞察自己。"
        image="/images/feature-3.png"
      />
      <FeatureItem
        title="专属能量卡<br/>你的「电子」布洛芬"
        description="1986年，研究者彭尼贝克让参与者写创伤经历和感受，结果发现，写经历和感受的人六个月后心理健康问题求助率减半。"
        image="/images/feature-4.png"
        reverse={true}
      />
      <FeatureItem
        title="渐入灵魂的洞察<br/>让你的心灵焕发光芒"
        description="首创「想法洞察」，并沉淀为个人资产报告。基于认知行为疗法的深度分析，提炼出你对事情的深层看法，帮助你洞察自己，一切美好正在复苏。"
        image="/images/feature-5.png"
      />
      <FeatureItem
        title="关心你的虚拟伙伴<br/>你的情绪值得被倾听"
        description="每一滴眼泪，每一次微笑，我们共同守候。结合最新研究的对话疗愈，将会带来温暖即时的反馈和超受欢迎的人设。（即将上线）"
        image="/images/feature-6.png"
        reverse={true}
      />
    </div>
  </div>
</section>
