---
import config from '@/config/config.json';

const {
  call_to_action: {
    title,
    description,
    button: { label, link },
  },
} = config;
---

<section
  class="px-5 py-20 xl:py-[120px] max-w-[95%] md:max-w-[90%] lg:max-w-[85%] mx-auto"
>
  <div class="container">
    <div
      class="bg-[#ECF7FD] row justify-center text-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-12">
        <div class="row">
          <div class="lg:col-12">
            <h2 class="h1 text-[#1B5192]">{title}</h2>
            <a class="btn btn-blue mt-8" href={link}>{label}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
